//$background-1: hsl(240, 3%, 5%);
//$background-2: hsl(240, 3%, 10%);
//$background-3: hsl(240, 3%, 15%);
//$background-1: #1d2021;
$background-1: #282828;
$background-2: #1d2021;
$background-3: #3c3836;

$accent-1: #fb4934;
$accent-2: #d65d0e;
$accent-3: #d79921;
$accent-4: #689d6a;
$accent-5: #83a598;
$accent-6: #458588;
$accent-7: #b16286;
$accent-8: #d3869b;
//$accent-1: hsl(0, 60%, 60%);
//$accent-2: hsl(25, 60%, 60%);
//$accent-3: hsl(55, 60%, 60%);
//$accent-4: hsl(145, 40%, 50%);
//$accent-5: hsl(185, 60%, 60%);
//$accent-6: hsl(240, 60%, 60%);
//$accent-7: hsl(265, 60%, 60%);
//$accent-8: hsl(300, 60%, 60%);

$primary-accent: $accent-4;
$secondary-accent: $accent-6;

//$foreground-color: lighten($background-3, 45%);
$foreground-color: #fbf1c7;

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$background-2};
