window.thunar {
  background: none;

  treeview {
    background: none;
  }

  grid {
    *:selected,
    *:active {
      background: rgba(27, 31, 43, 0.2);
      border-radius: 3px;
    }
  }

  .sidebar {
    background-color: rgba(27, 31, 43, 0.2);
    padding: 1rem;
  }

  treeview {
    padding: 3px;
    &:selected {
      background: rgba(27, 32, 44, 0.2);
    }
  }

  .frame {
    border: 0;
  }

  toolbar {
    box {
      padding: 5px;
    }
  }

  paned grid {
    background: rgba(27, 31, 43, 0.2);
  }

  toolbar {
    background: rgba(27, 31, 43, 0.2);
    padding: 5px 0;
  }
  toolbar * {
    background: none;
  }

  /* hide separator */
  separator {
    background-image: image(rgba(255, 255, 255, 0));
    background-size: 1px 1px;
    background-position: center center;
  }
}
